// header style 
.header{
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: #FFFFFF;
    padding: 22px 0;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
        &__nav{
        width: 100%;
        max-width: 100%;
        @include flex;
    }
    &__list{
        max-width: 100%;
        width: 415px;
        @include flex;
    }
    &__item-2{
        width:60%;
    }
    &__sublist{
        width: 100%;
        @include flex;
    }
    &__sublink{
        @include title;
        line-height: 25px;
        color: #939CAA;
            &:hover{
                color: #FCB72B;
            }
    }
    &__button{
        background: #FCB72B;
        border: none;
        height: 53px;
        width: 180px;
        display: flex;
        align-items: center;
        justify-content: center; 
        @include title;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
            &:hover{
            background: none;
            border: 3px solid #FCB72B;
            color: #FCB72B;
       }
    }
    &__btn{
        display: none;
    }
    @media only screen and (max-width:768px){
        .header{
            &__nav{
                width: 768px;
                max-width: 100%;
                justify-content: space-between;
            }
            &__list{
            justify-content:space-between;    
            }
            &__btn{
                display: none;
            }
        }
    }
    @media only screen and (max-width:425px) {
        .header{
            &__nav{
            width:400px;
            }
            &__list{
                justify-content: center;
            }
           &__item-2{
            display: none;
           }
           &__button{
            display: none;
           }
           &__btn{
            display:flex;
            background: none;
            color: rgba(252, 183, 43, 1);
            border: none;
            font-size: 20px;
           }
        }
    }
}